@model LibraryReservedSystem.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label"></label>
                <input asp-for="CourseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTitle" class="control-label"></label>
                <input asp-for="CourseTitle" class="form-control" />
                <span asp-validation-for="CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor" class="control-label"></label>
                <input asp-for="Professor" class="form-control" />
                <span asp-validation-for="Professor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edition" class="control-label"></label>
                <input asp-for="Edition" class="form-control" />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallNumber" class="control-label"></label>
                <input asp-for="CallNumber" class="form-control" />
                <span asp-validation-for="CallNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isCheckedOut" /> @Html.DisplayNameFor(model => model.isCheckedOut)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="studIDCheckIO" class="control-label"></label>
                <input asp-for="studIDCheckIO" class="form-control" />
                <span asp-validation-for="studIDCheckIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkOutDate" class="control-label"></label>
                <input asp-for="checkOutDate" class="form-control" />
                <span asp-validation-for="checkOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkInDate" class="control-label"></label>
                <input asp-for="checkInDate" class="form-control" />
                <span asp-validation-for="checkInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numCopies" class="control-label"></label>
                <input asp-for="numCopies" class="form-control" />
                <span asp-validation-for="numCopies" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
